
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}

.container {
    margin: auto;
    display: flex;
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

}
.card {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width:400px;
    height: 450px;
    padding: 40px;
    
}

.card-orange{
    background: hsl(31, 77%, 52%);
    border-radius: 15px 0px 0px 15px; /* top left, top right, bottom right, bottom left */
}
.text-orange{
    color: hsl(31, 77%, 52%);
}

.card-cyan {
    background: hsl(184, 100%, 22%);
}
.text-cyan {
    color: hsl(184, 100%, 22%);
}

.card-dark-cyan {
    background:hsl(179, 100%, 13%);
    border-radius: 0px 15px 15px 0px; /* top left, top right, bottom right, bottom left */
}
.text-dark-cyan {
    color:hsl(179, 100%, 13%);
}

.heading {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 34px;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    text-transform:uppercase;
    padding: 10% 0%;
}

.car-text {
    text-align: left;
    line-height: 21px;
    padding-bottom: 20%;
}

.btn {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background: hsl(0, 0%, 100%);
    font-weight: 400;
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    border-radius: 25px;
    width: 10rem;
    height: 3rem;
    padding: 5px;
    margin-top: 20px;
}

.btn:hover {
    background: transparent;
    color: hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 675px) {
    .container {
      flex-wrap: wrap;
    }
    .card {
      height: 400px;
    }
    .card-orange{
        background: hsl(31, 77%, 52%);
        border-radius: 15px 15px 0px 0px; /* top left, top right, bottom right, bottom left */
    }
    .card-dark-cyan {
        background:hsl(179, 100%, 13%);
        border-radius: 0px 0px 15px 15px; /* top left, top right, bottom right, bottom left */
    }
    .btn{
        margin-top: 0px;
    }
  }